<div class="modal-header">
    <h2 class="text-center">Create A New Account</h2>
</div>
<form name="form.newStudio" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group ">
            <div class="studioFormName" >
                <label>First Name</label>
                <input type="text" name="firstName" class="form-control " ng-model="newStudio.firstName" ng-minlength="3" ng-maxlength="30" required>
                <p ng-show="form.newStudio.firstName.$invalid && !form.newStudio.firstName.$pristine" class="help-block">Your first name is required.</p>
            </div>
            <div class="studioFormName">
                <label>Last Name</label>
                <input type="text" name="lastName" class="form-control " ng-model="newStudio.lastlastName" ng-minlength="3" ng-maxlength="30" required>
                <p ng-show="form.newStudio.lastName.$invalid && !form.newStudio.lastName.$pristine" class="help-block">Your last name is required.</p>
            </div>

        </div>

        <!-- EMAIL -->
        <div class="form-group">
            <div class="studioFormName">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="newStudio.email" required>
                <p ng-show="form.newStudio.email.$invalid && !form.newStudio.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>
            <!-- PASSWORD -->
            <div class="studioFormName">
                <label>Password</label>
                <input type="password" name="password" class="form-control" ng-model="newStudio.password" required>
                <p ng-show="form.newStudio.password.$invalid && !form.newStudio.password.$pristine" class="help-block">Enter a valid password.</p>
            </div>
        </div>
<!-- 
        <div class="form-group">
            
        </div> -->

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default btn-lg" ng-disabled="form.newStudio.$invalid">OK</button>
        <button class="btn btn-cancel btn-lg" ng-click="cancel()">Cancel</button>
        </form>
    </div>
