<div ng-controller="ArtistsController">
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">

        <div class="container">

        <!-- need to use angular directives to collapse header -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
					
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li>
                        <a class="page-scroll" href="/#/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#/artists">Artists</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#/studios">Studios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- end navbar -->
    <!-- for some reason the image is super tall, need to see what makes text move down more -->
    <header id="intro-Artist" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row" id="introInfo">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Artists</h1>
                        <p class="intro-text">Find a studio. Get Recording</p>
                        <form role="form" id="studioSearchForm">
                            <div class="form-group" ng-submit="findStudioSearch()">
                                <input type="text" class="form-control input-sm" id="exampleInputEmail1" ng-model="studioSearch.searchTerm" />
                            </div>

                            <button type="submit" class="btn btn-default btn-lg" id="submitSearchButton" ng-click="findStudioSearch()" >Search for Studios</button>
                                <!-- on submit this should perform a search of studios, whether by name, location, genre, etc etc, ideally redirect to a results page OR just show stuff below   -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Know a studio we don't have? Add them to our network!</h3>
                <!-- if there are search results -->
                <div class='row' ng-show="searched">
                    <h2>Results</h2>
                    <p ng-repeat="found in searchTerm">{{found}}</p>
                </div>
                <button ng-click="toggle = !toggle" class="btn btn-default btn-lg">{{toggleText}}</button>
                
                <!-- this gets toggled on button press -->
                <div class="addStudio box on" ng-hide="toggle" ng-animate="'box'">
<!--                     <div ng-show="addStudio">   
 -->                <form role="form" id="addStudioForm">
                    <div class="form-group" ng-submit="addStudioForm()">
                        <input type="text" class="form-control input-sm " id="exampleInputEmail1" ng-model="newStudio.name " placeholder= "Name" />
                        <br>
                        <input type="text" class="form-control input-sm " id="exampleInputEmail1" ng-model="newStudio.location" placeholder = "Location"/>
                        <br>
                        <input type="text" class="form-control input-sm " id="exampleInputEmail1" ng-model="newStudio.specialty" placeholder = "Specialty"/>
                        <br>
                        <input type="text" class="form-control input-sm " id="exampleInputEmail1" ng-model="newStudio.contact" placeholder = "Contact Person"/>
                        <br>
                        <input type="text" class="form-control input-sm " id="exampleInputEmail1" ng-model="newStudio.email" placeholder = "Email Address"/>
                    </div>

                    <button type="submit" class="btn btn-default btn-lg" id="submitSearchButton" ng-click="submitStudioButton()" >Submit</button>

                    </form>
<!--                 </div>
 -->                    
                </div>
                    
                </div>

            </div>
        </div>
    </section>

</div>
