<div class="paymentController">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" id="topLinks">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle animate-show" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll logo" href="/#/">Vibe</a>
      </div>
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse" ng-class="!navCollapsed && 'in'">
        <ul class="nav navbar-nav  text-right">
          <li><a class="page-scroll" href="/#/">Home</a></li>
          <li><a ng-show="isLoggedIn()" href="/#/profile/{{currentUser.username}}" >Profile</a></li>
          <li><a  ng-if="canEdit" ng-click="showForm()">Edit Profile</a></li>
          <li><a class="page-scroll" href="/#/searchRequest">Search</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
    <div class="row" style='margin-top: 200px;'>
      <div class="container">
          <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Session Checkout</h3>
            </div>


          <div class="col-md-12 text-justify jumbotron">
              <p>
                  Congrats! The time-slot you selected is available! Please check the information and click confirm to save the date.
              </p>
             <p><strong>{{currentUser.username}}</strong> is reserving a session with <strong>{{studio.businessName}}</strong>.</p>
             <p>Start of session is <strong>{{startTime}}</strong></p>
             <p>
                 End of session is at <strong>{{endTime}}</strong> .
             </p>
             <button class="btn btn-default btn-lg pull-left" ng-click="showForm()">Pay </button>

          </div>
          <div class="col-md-4">

            </div>
        </div>

    </div>

</div>
