<div ng-controller="EditPageController">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container" id="topLinks">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle animate-show" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll logo" href="/#/">Vibe</a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav  text-right">
            <li><a class="page-scroll" ng-hide="isLoggedIn()" href="/#/login">Login</a></li>
            <li><a ng-show="isLoggedIn()" href="/#/profile/{{currentUser.username}}" >Profile</a></li>
            <li><a class="page-scroll" href="/#/searchRequest">Search</a></li>
            <li><a ng-show="canEdit" ng-click="showForm()">Edit Profile</a></li>
            <li><a ng-show="isLoggedIn()" ng-click="logOut()">Logout</a></li>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

<div class="container " id = 'profilePage_container' ng-hide="isLoading" ng-show="profile">
    <div class="row">
        <div class="col-md-12 col-lg-12">
         <div class="col-sm-12 col-md-12 col-lg-12">


           <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center" id="profilePhoto">
               <figure id="editPageInfo">
                 <h3  >{{newStudio.username}}</h3>
                   <img src="{{newStudio.profileImage}}" ng-if="newStudio.profileImage "  alt="img/profile_default.png" class="img-circle img-responsive">
            </figure>


        </div >
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left jumbotron" id="aboutInfo">

                <h3>{{profile.username }}</h3>
                <div class="studioFormName" id="selectProfileType" >
                    <h4 ng-hide="newStudio.profileType">Set your profile as {{newStudio.profileType}}</h4>
                    <h4 ng-show="newStudio.profileType">Profile set as {{newStudio.profileType}}</h4>
                     <button class="btn btn-default btn-lg"  ng-click="setAsStudio()">Studio</button>
                     <button class="btn btn-default btn-lg"  ng-click="setAsArtist()">Artist</button>
                        <!-- <input type="text" placeholder="" -->
                </div>
                <form name="form.newStudio" ng-if="newStudio.profileType"  novalidate>
                    <!-- NAME -->
                    <div class="form-group ">

                        <div class="studioFormName" >
                            <label>First Name</label>
                            <input type="text" name="firstName" class="form-control input-small " ng-model="newStudio.firstName" ng-minlength="3" ng-maxlength="30" required>
                            <p ng-show="form.newStudio.firstName.$invalid && !form.newStudio.firstName.$pristine" class="help-block">Your first name is required.</p>
                        </div>
                        <div class="studioFormName">
                            <label>Last Name</label>
                            <input type="text" name="lastName" class="form-control "  ng-model="newStudio.lastName" ng-minlength="3" ng-maxlength="30" required></input>
                            <p ng-show="form.newStudio.lastName.$invalid && !form.newStudio.lastName.$pristine" class="help-block">Your last name is required.</p>
                        </div>
                        <div class="studioFormName">
                            <label>Profile Picture</label>
                            <input type="text" name="picture" class="form-control" placeholder="paste image url" ng-model="newStudio.profileImage">
                            <p ng-show="form.newStudio.profileImage.$pristine" class="help-block">
                                Not required, but we recommend a profile picture
                            </p>
                        </div>

                    </div>

                    <!-- EMAIL -->
                    <div class="form-group">
                        <div class="studioFormName">
                            <label>Specialty</label>
                            <input type="text" name="email" class="form-control" ng-model="newStudio.specialty" >
                        </div>
                        <!-- PASSWORD -->

                    </div>

                    <div class="form-group ">
                        <div class="studioFormName" >
                            <label>Main Contact</label>
                            <input type="text" name="firstName" class="form-control " ng-model="newStudio.mainContact" ng-minlength="3" ng-maxlength="30">
                            <p ng-show="form.newStudio.mainContact.$invalid && !form.newStudio.mainContact.$pristine" class="help-block">Main Contact</p>
                        </div>
                        <div class="studioFormName">
                            <label>Phone Number</label>
                            <input type="phone" name="phone" placeholder="XXX-XXX-XXXX" class="form-control " ng-model="newStudio.phone" ng-minlength="3" ng-maxlength="30" required>
                            <p ng-show="form.newStudio.phone.$invalid && !form.newStudio.phone.$pristine" class="help-block">Phone Number is required</p>
                        </div>
                        <div class="studioFormName" ng-show="isStudio">
                            <label>Street Address</label>
                            <input type="text" name="location" class="form-control " ng-model="newStudio.location" ng-minlength="3" ng-maxlength="30" >
                            <p ng-show="form.newStudio.location.$invalid && !form.newStudio.location.$pristine" class="help-block">Location is required</p>
                        </div>
                        <div class="studioFormName">
                            <label>City</label>
                            <input type="text" name="location" class="form-control " ng-model="newStudio.city" ng-minlength="3" ng-maxlength="30" required>
                            <p ng-show="form.newStudio.city.$invalid && !form.newStudio.city.$pristine" class="help-block">City is required</p>
                        </div>
                        <div class="studioFormName">
                            <label>Bio</label>
                            <textarea name="bio" class="form-control" ng-model="newStudio.fullBio"></textarea>
                        </div>
                        <div class=" selectOptions">
                            <label>Members</label>
                                <fieldset data-ng-repeat="field in newStudio.members track by $index">
                                        <input type="text" class="form-control" placeholder="members" name='members' ng-model="newStudio.members[$index]">

                                        <button type="button" class="btn btn-cancel" ng-click="removeMember($index)"> REMOVE
                                        </button>
                                    </fieldset>
                            <button class="btn btn-default" ng-click="addNewMember()" value="ADD MEMBER">Add a member</button>
                        </div>
                        <div class=" selectOptions">
                            <label>Websites</label>
                            <fieldset data-ng-repeat="field in newStudio.websites track by $index">
                                        <p><input type="text" class="form-control" placeholder="URL" name='members' ng-model="newStudio.websites[$index].url"><button type="button" class="btn btn-cancel" ng-click="removeWebsite($index)"> REMOVE
                                        </button></p>
                                        <label>Select Which site</label>
                                        <select ng-model="newStudio.websites[$index].type">
                                            <option >Facebook</option>
                                            <option>Personal Website</option>
                                            <option>SoundCloud</option>
                                            <option>BandCamp</option>
                                            <option>Email</option>
                                            <option>Personal</option>
                                            <option>Other</option>
                                        </select>

                                    </fieldset>
                                    <button class="btn btn-default " ng-click="addNewWebsite()" value="ADD MEMBER">Add a URL </button>
                        </div>


                    <div class="studioFormName" ng-show="isStudio">
                            <label>Studio Name</label>
                            <input type="text" name="firstName" class="form-control " ng-model="newStudio.businessName" ng-minlength="3" ng-maxlength="30" >
                            <p ng-show="form.newStudio.businessName.$invalid && !form.newStudio.businessName.$pristine" class="help-block">Your Studio name is required.</p>
                    </div>

                    <div class="studioFormName" ng-show="isStudio">
                            <label>Number of Recordings</label>
                            <input type="number" name="number" class="form-control " ng-model="newStudio.numberOfRecordings">
                    </div>

                    <div class="studioFormName" ng-show="isStudio">
                        <label>Studio Gear/materials</label>
                        <textarea name="bio" class="form-control" placeholder="Add gear of interest so your clients know what you're working with!" ng-model = "newStudio.gear"></textarea>
                    </div>

                    <div class="studioFormName" ng-show="isStudio">
                        <label>Studio Gallery</label>
                        <p>Add pictures of your studio so people can get a taste of what it's like there!</p>
                        <fieldset data-ng-repeat="img in newStudio.gallery track by $index" >
                            <div class="col-md-6">
                                <input type="text" class="form-control col-md-6" placeholder="paste img url" name='img' ng-model="newStudio.gallery[$index]">
                                <button type="button" class="btn btn-cancel" ng-click="removeFromGallery($index)"> Remove Image</button>

                            </div>
                            <div class="col-md-6">
                                <img src= "{{newStudio.gallery[$index]}}" ng-if="img" alt="img/profile_default.png" class=" img-responsive" />
                            </div>

                            </fieldset>
                            <div class="col-md-12">
                                <button class="btn btn-default" ng-click="addToGallery()" value="ADD MEMBER">Add a picture</button>

                            </div>
                            <div class='col-md-12' ng-if="newStudio.gallery.length >0" style="padding-bottom: 10px;" >
                                <p class="text-center">Preview!</p>
                                <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" style="max-height: 300px;" >
                                  <uib-slide ng-repeat="img in newStudio.gallery track by $index" index="slide.id">
                                    <img ng-src="{{img}}" style="margin:auto; max-height: 200px;">
                                    <div class="carousel-caption">
                                  </uib-slide>
                                </uib-carousel>
                            </div>


                    </div>

                    <div class="studioFormName" ng-show="isStudio">
                            <label>Schedule</label>
                            <p>What days do you want off?</p>
                                <select class="form-control" ng-model="dayOff.value" ng-options="day.value as day.name for day in Schedule" ng-repeat=" dayOff in newStudio.schedule.offDays" ng-if="dayOff.noWork">
                                    <!-- these show the values in Schedule -->
                                    <option value="What Site?">
                                        Choose your days off!
                                    </option>
                                    <option ng-repeat = "day.value as day.name for day in Schedule"  >
                                        {{day.name}}
                                    </option>
                                </select>
                                <button class="btn btn-default" ng-click="addNewDayOff()" value="add Offday">Add Day off</button>
                                <button class="btn btn-cancel" ng-click="removeDayOff()" value="remove Offday">Remove Day</button>
                    </div>

                    <div class="col-md-6 timeSpace" ng-show="isStudio" >
                        <h5>Start Hour</h5>
                        <uib-timepicker hour-step="hstep" minute-step="mstep" ng-model="newStudio.schedule.startHour" format="date | shortTime" show-meridian="ismeridian"></uib-timepicker>

                    </div>

                    <div class='col-md-6 timeSpace' ng-show="isStudio">
                      <h5>End Hour</h5>
                      <uib-timepicker  hour-step="hstep" minute-step="mstep" ng-model="newStudio.schedule.endHour " format="date | shortTime" show-meridian="ismeridian"></uib-timepicker>
                    </div>


                    <div class="studioFormName" ng-show="isStudio">
                        <label>Price per hour</label>
                        <input type="number" name="picture" class="form-control" placeholder="price" ng-model="newStudio.price" >
                        <span class="pull-right" style="color: red;" ng-if="newStudio.price.$pristine"><h4>Please have a price per hour!</h4></span>
                    </div>
                </div>

            </div>
          <div class="studioFormName">
              <button type="submit" class="btn btn-default btn-block " ng-disabled="form.newStudio.$invalid" ng-click="submitForm()">Save</button>
          </div>
          </form>

        </div>
      </div>
    </div>


</div>
