<div ng-controller = "HomeController">
<!-- nav bar -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" id='top'>

        <div class="container">
            <div class="navbar-head">
                <div class="row">
                
                <!-- this is the collapsed list -->
                <a class="navbar-brand page-scroll" ng-click="scrollTo('introTop')">Vibe</a>
   
                      
                <div class="btn-group"  id="toggleButton" >
                
                    <button type="button"  class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-main-collapse" ng-click="dropDown=!dropDown" id="dropDownMenu"><span class="glyphicon glyphicon-align-justify"></span></button>
                   
                </div>
                    
                    <div class="row">

                        <ul class="droDownMenu text-right animate-show"  role="menu" aria-labelledby="single-button" ng-hide="dropDown">
                        <li><a class="page-scroll" ng-click="scrollTo('introTop')">Home</a></li>
                            <li role="menuitem"><a class="page-scroll" ng-click="scrollTo('intro-Artist')">Artists</a></li>
                            <li role="menuitem"><a class="page-scroll" ng-click="scrollTo('intro-Studio')">Studios</a></li>
                            <li role="menuitem"><a class="page-scroll" href="/#/login">Login</a></li>
<!--                             <li role="menuitem"><a class="page-scroll" href="/#/signUp">Sign Up</a></li> -->
                        </ul>
                    </div>
                </div>
                
                <!-- dropdown-append-to="appendToEl" -->
                
            </div>


    <!-- this is the wide screen list -->

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse" collapse="navCollapsed" id="collapsedLinks">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li><a class="page-scroll" ng-click="scrollTo('introTop')">wut</a></li>
                    <li>
                        <a class="page-scroll" ng-click="scrollTo('intro-Artist')">Artists</a>
                    </li>
                    <li>
                        <a class="page-scroll" ng-click="scrollTo('intro-Studio')">Studios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#/login">Login</a>
                    </li>
 <!--                    <li>
                        <a class="page-scroll" href="/#/signUp">Sign Up</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- end navbar -->
<!-- intro content -->
    <header class="intro" id="introTop">
        <div class="intro-body">
            <div class="container">
                <div class="row" id="introInfo">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Vibe</h1>
                        <p class="intro-text">A music service to find who you need</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Vibe</h2>
                <p>Vibe is a music service dedicated to getting musicians connected and creating art like never before </p>
                <p>By streamlining the booking process for recording studios, studios can focus less on finding work, and focus more on creating the best product ossible.</p>
                <p>Artists don't have to worry about finding a place to record, as Vibe sources all available recording studios, searchable by area, genre, or price</p>
            </div>
        </div>
    </section>

    <!-- Artist-Search Studio Section -->
    <section id="intro-Artist" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class='row'>
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Artists</h2>
                        <form role="form">
                        <p>Find studios, get recording</p>
                            <div class="form-group" ng-submit="searchStudios()">
                                <input type="text" class="form-control input-sm" id="exampleInputEmail1" ng-model="studioSearch.searchTerm" placeholder="Desired location" />
                                <!-- add geolocator button -->
                            </div>

                            <button type="submit" class="btn btn-default btn-lg" id="submitSearchButton" ng-click="searchStudios()" >Search for Studios</button>

                            <!-- on submit this should perform a search of studios, whether by name, location, genre, etc etc, ideally redirect to a results page OR just show stuff below -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contact -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" id="contactInfo">
                <h2>Contact Vibe</h2>
                <p>Feel free to collab with us to let us to make musicians lives everywhere better</p>
                <!-- <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a> -->
                </p>
                <ul class="list-inline banner-social-buttons">
                   <!--  <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li> -->
                    <li>
                        <a href="https://github.com/suragSheth/Vibe" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <!-- <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </section>

<!-- studio Add user section -->
    <header id="intro-Studio" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row" id="introInfo">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Studios</h1>
                        <p class="intro-text">Set your Schedule. Reap your rewards</p>
                        <button class="btn btn-default btn-lg" ng-click="showForm()">Add your studio</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
        
<!--     <div id="map"></div>
 -->

</div>
