<div ng-controller = "loginController" >

	<!-- nav bar -->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" id='top'>

		<div class="container">

			<div class="navbar-header">

				<!-- this is the wideScreen list -->
				<a class="navbar-brand page-scroll" href="/#/">Vibe</a>
				<div class="collapse navbar-collapse navbar-right navbar-main-collapse" collapse="navCollapsed" id="collapsedLinks">
					<ul class="nav navbar-nav">
						<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
						<li><a class="page-scroll" href="/#/">Home</a></li>
						<li>
							<a class="page-scroll" ng-click="scrollTo('login')">Login</a>
						</li>
						<li>
							<a class="page-scroll" ng-click="scrollTo('signUp')">SignUp</a>
						</li>

	 <!--                    <li>
							<a class="page-scroll" href="/#/signUp">Sign Up</a>
						</li> -->
					</ul>
				</div>
				<!-- this is the collapsed list -->

				<div class="btn-group"  id="menuToggleButton" >
					<button type="button"  class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-main-collapse" ng-click="dropDown=!dropDown" id="dropDownMenu"><span class="glyphicon glyphicon-align-justify"></span></button>
					<div class="row">
						<!--this list needs to be floated right  -->
						<div class="container">

						<ul class="droDownMenuList text-right animate-show"  role="menu" aria-labelledby="single-button" ng-hide="dropDown">
							<li><a class="page-scroll" href="/#/">Home</a></li>
							<li>
								<a class="page-scroll" ng-click="scrollTo('login')">Login</a>
							</li>
							<li>
								<a class="page-scroll" ng-click="scrollTo('signUp')">SignUp</a>
							</li>
<!--                             <li role="menuitem"><a class="page-scroll" href="/#/signUp">Sign Up</a></li> -->
						</ul>
						</div>
					</div>
				</div>

				<!-- </div> -->

				<!-- dropdown-append-to="appendToEl" -->

			</div>

			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>


<section id="login" class="container content-section text-center">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 ">
                <h1>Login</h1>
                <div class="row">
				  <form class="form" role="form" name='form.actualUser'  ng-submit="login()" novalidate>
					<div class="form-group">
			            <div class= "loginInput ">
			                <input type="text" name="userName" placeholder="Email" class="form-control" ng-model="actualUser.userName" required>
			                <p ng-show="form.actualUser.email.$invalid && !form.actualUser.email.$pristine" class="help-block">Enter a valid email.</p>
			            </div>
			            <!-- PASSWORD -->
						<div class="loginInput">
			                <input type="password" name="password" placeholder="Password" class="form-control " ng-model="actualUser.password" required>
			                <p ng-show="form.actualUser.password.$invalid && !form.actualUser.password.$pristine" class="help-block">Enter a valid password.</p>
			            </div>
						<button type="submit" id="loginConfirmButton" class="btn btn-default btn-lg pull-right" ng-disabled="form.actualUser.$invalid">Submit</button>
						
			        </div>
				</form>
				<div ng-show="error" class="alert alert-danger row">
						    <span>{{ error.message }}</span>
						</div>
		        </div>
		        </div>

            </div>
    </section>


	<section id="signUp" class="container content-section text-center">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4 ">
                    <h1>Sign Up</h1>
                    <div class="row">
    				  <form class="form" name='form.newUser' role="form"  ng-submit="signUp()" novalidate>
    					<div class="form-group">
                            <div class="loginInput" >
                                <input type="text" placeholder="User Name" name="firstName" class="form-control " ng-model="newUser.userName" ng-minlength="3" ng-maxlength="30" required>
                                <p ng-show="form.newUser.userName.$invalid && !form.newUser.userName.$pristine" class="help-block">A user name is required.</p>
                            </div>
    			            <div class= "loginInput ">
    			                <input type="email" placeholder="Email" name="email" class="form-control" ng-model="newUser.email" required>
    			                <p ng-show="form.newUser.email.$invalid && !form.newUser.email.$pristine" class="help-block">Enter a valid email.</p>
    			            </div>
    			            <!-- PASSWORD -->
    			            <div class="loginInput" >
    			                <input type="password" placeholder="Password" name="password" class="form-control " ng-model="newUser.password" required>
    			                <p ng-show="form.newUser.password.$invalid && !form.newUser.password.$pristine" class="help-block">Enter a valid password.</p>
    			            </div>
    			            <br>
    			           <!--  <h5>Create profile as {{newUser.preference }}</h5>
	    			           <div class="btn-group">
	    			            <button type="button" class="btn btn-default btn-lg pull-left " autofocus="true" ng-model="newUser.preference" ng-click="makeArtist()" active uib-btn-radio="artist">Artist</button>
	    			            <button type="button" class="btn btn-default btn-lg pull-right"  ng-model="newUser.preference" ng-click="makeStudio()" uib-btn-radio="studio">Studio</button>
    			            </div>
    			            <br> -->
							<button type="submit" id="loginConfirmButton" class="btn btn-default btn-lg pull-right" ng-disabled="form.newStudio.$invalid">Submit</button>
    			        </div>
    				</form>
    		        </div>
    		        </div>

                </div>
        </section>
 </div>
