<div ng-controller="studioProfileController" >

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container" id="topLinks">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle animate-show" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll logo" href="/#/">Vibe</a>
          </div>
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav  text-right ">
              <li><a class="page-scroll animate-show" ng-hide="isLoggedIn()" href="/#/login">Login</a></li>
              <li><a ng-hide="canEdit" href="/#/profile/{{currentUser.username}}"  >Profile</a></li>
              <li><a class="page-scroll" ng-show="canEdit && isLoggedIn()" href="/#/profile/{{currentUser.username}}/edit" >Edit Profile</a></li>
              <li><a class="page-scroll" href="/#/searchRequest">Search</a></li>

              <li><a ng-show="isLoggedIn()" ng-click="logOut()">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>

<div class="container" ng-hide="profile" ng-show="isLoading" style="padding-top: 150px">
    <div class="row">
    <h1 class="text-center">Loading....</h1>

    </div>
</div>

<div class="container jumbotron  animate-show" id = 'profilePage_container' ng-hide="isLoading" ng-show="profile" >
    <div class="row">
        <h1 ng-show="profile.businessName" class="text-center">{{profile.businessName}}</h1>
        <div class="col-md-12 col-lg-12">
         <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left" id="aboutInfo">


                <!-- <h3>{{profile.username}}</h3> -->
                <h6 ng-show='!profile.city && !isLoading' class="animate-show">Hit the edit button to fill out your profile!</h6>
                <p ng-show>{{profile.businessName}}</p>
                <p class="text-justify" style="word-wrap: break-word" ng-if='profile.fullBio'><strong>Bio: </strong>{{profile.fullBio}} </p>
                <p ng-show="profile.phone"><strong>Phone: </strong> {{profile.phone}}</p>
                <p ng-show="profile.city"><strong>City: </strong>{{profile.city}}</p>

                <p ng-show="profile.mainContact"><strong>Contact: </strong> {{profile.mainContact}}</p>
                <!-- <p><strong>Address: </strong>{{profile.location}}</p> -->
                <p ng-show="profile.specialty"><strong>Specialty: </strong> <span class="tags">{{profile.specialty}}</span></p>
                <p ng-show="profile.websites"><strong ng-if="profile.websites.length > 0"> Social: </strong><br>
                    <a ng-repeat="site in profile.websites" href="{{site.url}}" target="_self">{{site.type}}<br /> </a>
                </p>
                <p class="text-justify" style="word-wrap: break-word" ng-if='profile.gear'><strong>Gear: </strong>{{profile.gear}} </p>


            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center" id="profilePhoto">
                <figure>
                    <img src="{{profile.profileImage}}" ng-if="profile.profileImage "  alt="img/profile_default.png" class="img-circle img-responsive">
             </figure>
             <div class='col-md-12' id="profileGallery" ng-if="profile.gallery.length > 0"  >
                 <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" style="margin-top: 30px;" >
                   <uib-slide ng-repeat="img in profile.gallery track by $index" >
                     <img ng-src="{{img}}" style="margin:auto; max-height: 200px" ng-click="showGallery()">
                   </uib-slide>
                 </uib-carousel>
             </div>
            <p class="text-center" style="margin-top: 10px;" ng-show="profile.gallery.length > 0">In Studio</p>
         </div>


     </div>


     <div class="row" >
         <div class="col-xs-12 divider text-center">
             <div class="col-xs-12 col-sm-6 emphasis">
                 <div class="row">

                 </div>
                 <h2><strong ng-if='events'>{{events.length}}</strong><strong ng-hide='events'>0</strong></h2>
                 <p><small>Sessions Booked</small></p>
                 <button class="btn btn-default btn-block" ng-click="openSchedule()" ><span class="fa fa-user"></span> View Schedule </button>

             </div>
            <div class="col-xs-12 col-sm-6 emphasis">
                <h2 ng-if="profile.numberOfRecordings"><strong>{{profile.numberOfRecordings}} </strong></h2>
                <h2 ng-if="!profile.numberOfRecordings"><strong>0</strong></h2>
                <p><small>Recordings made</small></p>
                <!-- THIS MESSAGE BUTTON SHOULD BE A MODAL, if not lead to messenger service-->
                <button class="btn btn-more btn-block" ng-click="email()";
><span class="fa fa-plus-circle"></span>Send Message </button></a>
            </div>

        </div>
    </div>

    <div class="row animate-show" id="calendar" ng-show="calendar" >
        <div class="col-md-12 calendario">

           <div class="col-md-6 text-center">
              <div class="btn-group">

                <button
                class="btn btn-default"
                mwl-date-modifier
                date="viewDate"
                decrement="calendarView">
                Previous
                </button>
                <button
                class="btn btn-default"
                mwl-date-modifier
                date="viewDate"
                set-to-today>
                Today
                </button>
                <button
                class="btn btn-default"
                mwl-date-modifier
                date="viewDate"
                increment="calendarView">
                Next
                </button>
            </div>
        </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="calendarView" uib-btn-radio="'year'">Year</label>
            <label class="btn btn-default" ng-model="calendarView" uib-btn-radio="'month'">Month</label>
            <!-- <label class="btn btn-default" ng-model="calendarView" uib-btn-radio="'week'">Week</label>
            <label class="btn btn-default" ng-model="calendarView" uib-btn-radio="'day'">Day</label> -->
        </div>
    </div>


    <mwl-calendar
    events="events"
    view="calendarView"

    view-date="viewDate"
    on-event-click="eventClicked(calendarEvent)"

    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
    on-edit-event-click="editEvent(calendarEvent)"
    on-delete-event-click="deleteEvent(calendarEvent)"
    cell-is-open="isCellOpen"
    day-view-start="06:00"
    day-view-end="22:00"
    day-view-split="30"
    ></mwl-calendar>

            <h3 style="margin-top: 20px;" ng-if="canEdit==false && isLoggedIn() == false">Want to reserve a session? <a href="/#/signUp">Sign up</a> or <a href="/#/login">log in</a> to gain access!</h3>

        <div class="bookDiv" ng-show="isLoggedIn()" ng-if="profile.profileType == 'Studio' " >
            <h3 ng-hide="canEdit" class="text-center">Request a Session with {{profile.businessName}} at {{profile.price}}$ per hour!</h3>
            <h3 ng-show="canEdit" class="text-center">Add Sessions to your schedule</h3>

            <div class="row">
                <form>
                    <p class="input-group">
                        <!-- <div class="col-md-4">
                            <label>Arist Name</label>
                            <input type = "text"  ng-model="session.artist"  class='form-control' placeholder={{currentUser.username}}   />
                            <p ng-if="needNameError" class="text-center">I'm sorry, please provide your name</p>
                        </div> -->
                        <div class="col-md-4 col-md-offset-1">
                            <label>Session Start Date</label>
                            <p>
                              <input  ng-model="session.startDate" class="form-control" uib-datepicker-popup  is-open="popup1.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats" date-disabled="disabled(date, mode)" />
                             <span class="input-group-btn">
                               <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                             </span>
                            </p>

                          <p ng-if="notDate">
                            Please Pick a Time. Try the calendar button?
                          </p>
                          <p ng-if="notDate" class="text-center">
                            Sorry! Please pick a valid date
                          </p>

                        </div>

                        <div class="col-md-4 col-md-offset-1">
                            <label>Session End Date</label>
                            <input ng-model="session.endDate" class="form-control"  uib-datepicker-popup  is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close" date-disabled="disabled(date, mode)" />
                          <span class="input-group-btn">
                            <button  class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                          <p ng-if="needEndDateError" class='text-center'>
                            Please pick an end time. Try the calendar button?
                          </p>
                        </div>
                        <div class="col-md-2" ng-show="canEdit">
                            <label>Artist Name</label>
                            <input ng-model="session.artist" class='form-control' type='text' />
                        </div>

                    </p>

            </div>
<br />
        <div class="row" id="sessionTimes">
            <div class="col-md-4 col-md-offset-1 ">
                <h5>Start Time</h5>
                <uib-timepicker  ng-change="changed()" hour-step="hstep" min="min" max="max" minute-step="mstep"  ng-model="session.startHour" show-meridian="ismeridian"></uib-timepicker>
                <span class="pull-right" style="color: red;" ng-show="invalid"><h4>Please pick a valid Hour!</h4></span>
            </div>

            <div class='col-md-4 col-md-offset-1 '>
              <h5>End Time</h5>
              <uib-timepicker  ng-change="changed()" min="min" max="max" hour-step="hstep" minute-step="mstep" ng-model="session.endHour " format="date | shortTime" show-meridian="ismeridian" ></uib-timepicker>
              <span class="pull-right" style="color: red;" ng-show="invalid"><h4>Please pick a valid Hour!</h4></span>

            </div>
            <div class="col-md-2 timeSpace ">
                   <button type="submit" class="btn btn-default btn-block "  ng-hide="canEdit" id="submitsessionDate" ng-click="requestDates()">Reserve</button>
                   <button type='submit' class="btn btn-default btn-block" ng-show="canEdit" ng-click="requestDates()">Submit </button>
            </div>
            <div class="row " id="schedule">

           </div>


        </div>

        <div class='row'>
            <div class="col-md-12">
                <span class="pull-left" style="color: red;" ng-show="existsFail"><h4>We're sorry, there's already a session booked for that time. Try another timeframe?</h4></span>
                <br />

           </div>
        </div>
            </form>

        </div>
    </div>
    </div>
</div>
</div>
</div>
