<div ng-controller="studioProfileController" >

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">


    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" id='top' >

        <div class="container">
            <div class="navbar-header">
                <!-- this is the wideScreen list -->
                <a class="navbar-brand page-scroll" href="/#/">Vibe</a>
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse" collapse="navCollapsed" id="collapsedLinks">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="page-scroll" ng-hide="isLoggedIn()" href="/#/login">Login</a>
                        </li>
                        <li>
                            <a ng-show="isLoggedIn()" href="/#/profile/{{currentUser.username}}" >Profile</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/#/searchRequest">Search</a>
                        </li>
                        <li>
                            <a ng-if="canEdit" ng-click="showForm()">Edit Profile</a>
                        </li>

                        <li>
                            <a ng-show="isLoggedIn()" ng-click="logOut()">Logout</a>
                        </li>
                </ul>
            </div>
            <!-- this is the collapsed list -->

            <div class="btn-group"  id="menuToggleButton" >
                <button type="button"  class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-main-collapse" ng-click="dropDown=!dropDown" id="dropDownMenu"><span class="glyphicon glyphicon-align-justify"></span></button>
                <div class="row">
                    <!--this list needs to be floated right  -->
                    <div class="container">
                        <ul class="dropDownMenuList text-right animate-show"  role="menu" aria-labelledby="single-button" ng-hide="dropDown">
                            <li><a class="page-scroll" href="/#/">Home</a></li>
                            <li>
                                <a ng-show="isLoggedIn()" href="/#/profile/{{currentUser.username}}" >Profile</a>
                            </li>
                            <li>
                                <a  ng-if="canEdit" ng-click="showForm()">Edit Profile</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="/#/searchRequest">Search</a>
                            </li>
                            <li role="menuitem"><a class="page-scroll" href="/#/login">Login</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container" ng-hide="profile" ng-show="isLoading" style="padding-top: 100px">
    <div class="row">
    <h1 class="text-center">Loading....</h1>

    </div>
</div>

<div class="container jumbotron" id = 'profilePage_container' ng-hide="isLoading" ng-show="profile">
    <div class="row">
        <div class="col-md-12 col-lg-12">
         <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left" id="aboutInfo">

                <h3>{{profile.username }}</h3>
                <p class="text-justify" style="word-wrap: break-word" ng-if='profile.fullBio'><strong>Bio: </strong>{{profile.fullBio}} </p>
                <p><strong>Phone: </strong> {{profile.phone}}</p>
                <p ng-if="profile.websites"><strong>Social: </strong><br>
                    <a ng-repeat="site in profile.websites" href="{{site.url}}" target="_self">{{site.type}}<br /> </a>
                </p>
                <p ng-if="profile.mainContact"><strong>Contact: </strong> {{profile.mainContact}}</p>
                <!-- <p><strong>Address: </strong>{{profile.location}}</p> -->



                <p ng-if="profile.specialty"><strong>Specialty: </strong> <span class="tags">{{profile.specialty}}</span>
                </p>



                <!-- <p class="text-justify"><strong>People Recorded:</strong> PEOPLE OF INTEREST </p>
                 -->

            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center" id="profilePhoto">
                <figure>
                    <img src="{{profile.profileImage}}"  alt="img/profile_default.png" class="img-circle img-responsive">
                    <figcaption class="ratings">
                        <p>Ratings
                            <!-- <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                             <span class="fa fa-star-o"></span>
                         </a> -->
                     </p>
                 </figcaption>
             </figure>

         </div>


         <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-left" id="aboutInfo">
            <button type="button" ng-show="canEdit" ng-click="showForm()"  class="btn btn-default btn-sm " >Edit profile</button>
         </div>
     </div>


     <div class="row" ng-if="profile.profileType == 'Studio' ">
         <div class="col-xs-12 divider text-center">
             <div class="col-xs-12 col-sm-6 emphasis">
                 <h2><strong>{{events.length}}</strong></h2>
                 <p><small>Sessions Booked</small></p>
                 <button class="btn btn-default btn-block" ng-click="openSchedule()" ><span class="fa fa-user"></span> View Schedule </button>
             </div>
            <div class="col-xs-12 col-sm-6 emphasis">
                <h2 ng-if="profile.numberOfRecordings"><strong>{{profile.numberOfRecordings}} </strong></h2>
                <h2 ng-if="!profile.numberOfRecordings"><strong>0</strong></h2>
                <p><small>Recordings</small></p>
                <!-- THIS MESSAGE BUTTON SHOULD BE A MODAL, if not lead to messenger service-->
                <button class="btn btn-more btn-block" ng-click="email()";
><span class="fa fa-plus-circle"></span> Message </button></a>
            </div>

        </div>
    </div>

    <div class="row" id="calendar" ng-if="calendar == true">
        <div class="col-md-12 calendario">

           <div class="col-md-6 text-center">
              <div class="btn-group">

                <button
                class="btn btn-default"
                mwl-date-modifier
                date="viewDate"
                decrement="calendarView">
                Previous
                </button>
                <button
                class="btn btn-default"
                mwl-date-modifier
                date="viewDate"
                set-to-today>
                Today
                </button>
                <button
                class="btn btn-default"
                mwl-date-modifier
                date="viewDate"
                increment="calendarView">
                Next
                </button>
            </div>
        </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="calendarView" uib-btn-radio="'year'">Year</label>
            <label class="btn btn-default" ng-model="calendarView" uib-btn-radio="'month'">Month</label>
            <!-- <label class="btn btn-default" ng-model="calendarView" uib-btn-radio="'week'">Week</label>
            <label class="btn btn-default" ng-model="calendarView" uib-btn-radio="'day'">Day</label> -->
        </div>
    </div>


    <mwl-calendar
    events="events"
    view="calendarView"
    view-title="profile.businessName"
    view-date="viewDate"
    on-event-click="eventClicked(calendarEvent)"
    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
    on-edit-event-click="vm.eventEdited(calendarEvent)"
    on-delete-event-click="deleteEvent(calendarEvent)"
    cell-is-open="isCellOpen"
    day-view-start="06:00"
    day-view-end="22:00"
    day-view-split="30"
    cell-modifier="vm.modifyCell(calendarCell)"></mwl-calendar>

    <!-- </div> -->

        <div class="bookDiv" ng-show="isLoggedIn()" >
        <!-- end of calendar row -->
        <h3 ng-hide="canEdit">Request a Session with {{profile.username}} !</h3>
        <h3 ng-show="canEdit">Add Sessions to your scheudle</h3>
        <div class="row">
            <form>


            <p class="input-group">
                <div class="col-md-4">
                    <label>Arist Name</label>
                    <input type = "text"  ng-model="session.artist"  class='form-control'   />
                </div>
                <div class="col-md-4">
                    <label>Session Start Date</label>
                   <input type="text" ng-model="session.startDate" class="form-control" uib-datepicker-popup  is-open="popup1.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats" date-disabled="disabled(date, mode)" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>

                </div>
                <div class="col-md-4">
                    <label>Session End Date</label>
                    <input type="text" ng-model="session.endDate" class="form-control"  uib-datepicker-popup  is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close" date-disabled="disabled(date, mode)" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </span>

                </div>

            </p>
        </div>
<br />
        <div class="row" id="sessionTimes">
            <div class="col-md-4">
                <h5>Start Time</h5>
                <uib-timepicker  ng-change="changed()" hour-step="hstep" min="min" max="max" minute-step="mstep"  ng-model="session.startHour" show-meridian="ismeridian"></uib-timepicker>
                <span class="pull-right" style="color: red;" ng-show="session.error"><h4>Please pick a valid Hour!</h4></span>
            </div>

            <div class='col-md-4'>
              <h5>End Time</h5>
              <uib-timepicker  ng-change="changed()" min="min" max="max" hour-step="hstep" minute-step="mstep" ng-model="session.endHour " format="date | shortTime" show-meridian="ismeridian" ></uib-timepicker>
            </div>

            <div class='col-md-4'>
                <p>Notes and Other info for the studio</p>
                <textarea ng-model="session.info" class='form-control col-md-6'  placeholder="Details & other requests..." ></textarea>
            </div>

        </div>

        <div class='row'>
            <div class="col-md-12">
                <span class="pull-left" style="color: red;" ng-show="fail"><h4>Please pick a valid time!</h4></span>
                <span class="pull-left" style="color: red;" ng-show="existsFail"><h4>We're sorry, there's already a session booked for that time. Try another timeframe?</h4></span>
                <br />

                <div class="row timeSpace" id="schedule">
                    <div ng-hide="canEdit">
                        <ngcart-addtocart id="{{ session.startHour }}" name="{{ session.artist }}" price="{{ profile.price }}" quantity="1" quantity-max="1" data="session"></ngcart-addtocart>
                    </div>
                    <!-- <form action="https://www.sandbox.paypal.com/webapps/adaptivepayment/flow/pay" target="PPDGFrame" class="standard">

            <label for="buy">Buy Now:</label>
            <input type="image" id="submitBtn" value="Pay with PayPal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif">
            <input id="type" type="hidden" name="expType" value="mini">
            <input id="paykey" type="hidden" name="paykey" value="insert_pay_key">
            </form>
            <script type="text/javascript" charset="utf-8">
                var dgFlowMini = new PAYPAL.apps.DGFlowMini({trigger: 'submitBtn'});
            </script> -->


            <div class="col-md-12 pull-right">
                   <button type="submit" class="btn btn-default btn-block " id="submitsessionDate" ng-click="requestDates()">Confirm Session</button>
            </div>


               </div>
           </div>
        </div>
    </form>

</div>
</div>
</div>
</div>
</div>
<script src="https://www.paypalobjects.com/js/external/apdg.js" type="text/javascript"></script>

</div>
