<div ng-controller="SearchController">
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" id='top'>

        <div class="container">
            <div class="navbar-head">
                <div class="btn-group" uib-dropdown is-open="status.isopen" id="toggleButton" >
                    <button type="button"  class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse" uib-dropdown-toggle><span class="glyphicon glyphicon-align-justify"></span></button>
                    <ul class="droDownMenu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a class="page-scroll" href="/#/login">Login</a></li>
                        <li role="menuitem"><a class="page-scroll" href="/#/signUp">Sign Up</a></li>
                    </ul>
   
                </div>
                <a class="navbar-brand page-scroll" href="/#/">Home</a>                
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse" collapse="navCollapsed" id="collapsedLinks">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="/#/login">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#/signUp">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section id="login" class="container content-section ">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 ">
                <h1 class="text-center">You searched for: {{searchTerm}}</h1>
                <div class="row">
					<p class="text-center"> results</p>

					<div class="row">
						<ul ng-repeat="studio in tempStudios">
							<li><h4>{{studio.name}}</h4></li>
							<li><p>{{studio.specialty}}</p></li>
							<li><p>{{studio.website}}</p></li>
							<li><p>{{studio.phone}}</p></li>
							<li><p>{{studio.price}}</p></li>
							<li><button class="btn btn-default btn-lg" ng-click="seeProfile()">See Studio</button>
						</ul>
		        	</div>
		    	</div>
            </div>
    </section>
	
</div>