body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;

}

html {
    width: 100%;
    height: 100%;
    color: green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;

}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

li {
    list-style-type:none
}

#top {
    display: inline-block;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: black;
    width: 100%;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    background-color: black;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 24px;

}
#menuToggleButton {
    color: white;
    background-color: black;
    display: inline-block;
     transition: all linear 0.5s;
     float: right;
     vertical-align: top;
}

#dropDownMenuList {
    float: right;
    background-color: black;
    color: white;
    display:row;
    max-width: 30px;
}
.dropDownMenu li, a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
    display: inline;

}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-header {
    /*width: 100%;*/

    display: inline;
}
.navbar-collapsed-list{
    display: inline;
}
.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}


@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0px 200px 0;
    text-align: center;
    color: #fff;
    background: url(../img/metatrons.jpg) no-repeat top center scroll;
    background-color: #000;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
/*    margin-top: 200px;
*/}

.intro .intro-body .brand-heading {
    vertical-align: middle;
    font-size: 40px;
    margin-top: 100px;

}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 400px;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

#testMe {
    color: red;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding: 10px 0 100px 0;
}



#download {
    display: table-cell;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

.btn-cancel {
    border: 1px solid #F44336;
    color: #F44336;
    background-color: transparent;
}

.btn-cancel:hover,
.btn-cancel:focus {
    border: 1px solid #F44336;
    outline: 0;
    color: #000;
    background-color: #F44336;
}

/*#F44336*/

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

#search {
    margin: 0 auto;
    float: none;
    text-align:center;
    padding: 20px;
}

.col-md-12 column form {
   display: table;
   margin:auto;
}

#submitSearchButton {
    margin-top: 30px;
}

#introInfo {
     padding: 100px 0px 100px 0;
     margin-bottom: 130px;
}

#about {
    padding: 200px 0 200px 0;
    /*margin: 100px 50px 0px 50px;*/
}

#download {
    vertical-align: middle;
    width: 100%;
    padding:  130px 0 120px 0;
    color: #fff;
    background: url(../img/studioBackground.jpeg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: table;
    margin: 0 auto;
}
#exampleInputEmail1 {
    width: 25%;
    text-align:left;
    vertical-align: middle;
    margin: 0 auto;
}

#contact {
    padding: 260px 0px 250px 0px;
}
    #contactInfo {
            margin-top: 100px 0 100px 0;

    }

#userInfo {
    padding: 100px 0 100px 0 ;
    background-color: #30353c;
}

#intro-Studio {
    display: table;
    width: 100%;
    height: auto;
    padding: 110px 0px 10px 0;
    text-align: center;
    color: #fff;
    background: url(../img/studioHands.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#intro-Studio h1 {
    font-size: 40px;
}

#intro-Artist {
    display: table;
    width: 100%;
    height: auto;
    padding: 125px 0px 125px 0;
    text-align: center;
    color: #fff;
    background: url(../img/bassist.jpeg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#studioSearchForm {
    padding-bottom: 50px;
}
.addStudio {
    margin: 25px 0px 25px 0px;
    width: 100%;
    text-align:center;
    vertical-align: middle;
}

.addTextInput {
    margin: 20px 0 20px 0;
}

.modal-header {
    color:white;
    background-color: black
}

.modal-body {
    color: white;
    background-color: black;
    /*margin: 0 30px 20px 30px;*/
/*    width: 50%;
*/}

.modal-footer {
    color: white;
    background-color: black
}

#successfulAddStudio {
    margin-top: 30px;
}

.studioFormName {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    text-align:center;
    /*margin: 0 30px 20px 30px;*/

}
    .studioFormName button, select, input  {
        margin-bottom: 10px;
    }
    .studioFormName img {
        margin-top: 20px;
    }
    .studioFormName textarea {
        height: 200px;
    }

    .studioFormName input, select {
/*        width: 50%;
*/        vertical-align: middle;
    }

#loginInput {
    text-align: center;
    /*padding: 20px 0 20px 0;*/

}

#login {
    padding: 100px 0 100px 0;
    margin: 100px 50px 100px 50px;
}

#signUp {
    padding: 100px 0 200px 0;
    margin: 100px 50px 0px 50px;
}

.submitButtons {
    margin-top: 20px;
}

#loginConfirmButton {
    margin: 20px 0 0 0;
    width: 100%;
    text-align: center;
    display: block;

}

/*#studioSearchResults {
    margin: 10px 0px 0px 0px
}*/
        body
        {
            /*font-family: 'Lato', 'sans-serif';
            color: white;*/
        }
        .profile
        {
            min-height: 600px;
            background-color: black;
            color: white;
            /*;*/
        }
        figcaption.ratings
        {
            margin-top:20px;
        }
        figcaption.ratings a
        {
            color:white;
            font-size:11px;
            vertical-align: top;
            display: inline-block;
        }
        figcaption.ratings a:hover
        {
            color:#f39c12;
            text-decoration:none;
        }
        .divider
        {
            border-top:1px solid rgba(0,0,0,0.1);
        }
        .emphasis
        {
            border-top: 4px solid transparent;
            display: inline-block;
            padding: 10px;
            vertical-align: top;
/*    border: 2px solid green;
*/    }
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
}
.emphasis h2
{
    margin-bottom:0;
}
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    padding: 2px 4px;
}
.dropdown-menu
{
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}
.dropdown-menu .divider
{
    background:none;
}
.dropdown-menu>li>a
{
    color:#f5f5f5;
}
.dropup .dropdown-menu
{
    margin-bottom:10px;
}
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}

img {
    height: 150px;
}

#profilePhoto {
    display: inline-block;
    vertical-align: top;
/*    border: 1px solid red;
*/    float: right;
}

#aboutInfo {
    display: inline-block;
    vertical-align: top;
/*    border: 1px solid orange;
*/    text-justify: inter-word;
text-align: justify;
margin-bottom: 20px;
}

/*button {
    padding: 3px;
}*/

#calendar {
    margin-top: 20px;
    border-color: white;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

#schedule {
    display: inline-block;
    vertical-align: top
}

.well {
    background-color: black;
}

.calendario{
    display: inline-block;
}

#profile_container {

    padding-top: 20px;
    margin-top: 110px;
    padding-bottom: 200px;
    color: white;
    background-color: #2a2a2a;
    /*border-bottom-color: white;*/

}

textarea {
    height: 200px;
    margin-top: 20px;
}

#submitSessionDate{
    margin: 20px 15px 0 0;
}
mwl-calendar {
    margin-bottom: 20px;
}

#sessionTimes {
    margin-top: 20px;
}

.bookDiv {
    margin: 15px;

}
